.button:nth-child(2) {
  border-radius: 15px;
  background: rgb(11, 196, 226);
}
.button:nth-child(2):hover {
  background: rgba(11, 197, 226, 0.762);
  border-bottom: 3px solid rgba(11, 197, 226, 0.762);
}

.button {
  color: #fff !important;
  border: none !important;
  transition: all 0.2s ease !important;
  text-transform: uppercase;
}
.button:hover {
  background: rgba(255, 255, 255, 0.174) !important;
  color: #fff !important;
  border-bottom: 3px solid rgba(255, 255, 255, 0.166) !important;
  border-radius: 15px !important;
  transition: all 0.2s ease !important;
}
