.button {
  color: #fff;
  border: none;
  transition: all 0.2s ease;
}

.button:nth-child(2) {
  border-radius: 15px;
  background: rgb(11, 196, 226);
}
.button:nth-child(2):hover {
  background: rgba(11, 197, 226, 0.762);
  border-bottom: 3px solid rgba(11, 197, 226, 0.762);
}
.button:hover {
  background: rgba(255, 255, 255, 0.174);
  color: #fff;
  border-bottom: 3px solid rgba(255, 255, 255, 0.166);
  border-radius: 15px;
  transition: all 0.2s ease;
}
