body {
  margin: 0;
  padding: 0;
  font-family: mark !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: moon;
  src: url("./assets/fonts/MoonBold.ttf");
}

@font-face {
  font-family: mark;
  src: url("./assets/fonts/FF\ Mark.otf");
}
